/* Outfit font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/* DM sans */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&display=swap');
/* Rubik */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* Manrope */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
*{box-sizing: border-box;}
html , body{height: 100%; font-family: "Outfit"; line-height: 1.6 ; font-optical-sizing: auto; font-size: 16px;  font-weight: normal; font-style: normal; box-sizing: border-box;}
p,h1,h2,h3,h4,h5,h6{margin-bottom: 0;}
a{text-decoration: none;}

/* Use colors */
:root{
  --yello : #F8E71C;
  --orange:#F9B515;
  --grass-green: #618674;
  --grass-green-alpha : hsla(150, 18%, 37%, 0.15);
  --dark-green: #4E705F;
  --text-dark: #191112;
  --text-dark-alpha:hsla(0, 0%, 8%, 0.6);
  --light-red: #EB5850;
  --text-dark-secondary: #1D1D1D;
  --text-dark-secondary-alpha: rgba(29, 29, 29, 0.5);
  --light : #fff;

}
/* Typography */
/* 80px */ .head-xl{font-size: 5rem;}
/* 50px */ .head-lg{ font-size: 3.125rem; font-weight: 600;}
/* 24px */ .head-md{font-size: 1.5rem;}
/* 30px */ .head-md.alter{font-size: 30px;}
/* 18px */ .text-md{font-size: 1.125rem; }
/* 20px */ .text-lg{font-size: 1.25rem;}
/* 14px */ .text-xs{font-size: 0.875;}
/* 13px */ .text-xs.alter{font-size: 12px; color: var(--text-dark-secondary-alpha); font-family: "Rubik";}
/* 8px */  .text-exs{font-size: 8px;}

/* DM Sans */ .f2 {font-family: "DM Sans" !important;}
/* Outfit */  .f1{font-family: "Outfit" !important;}
/* Manrope */ .f3{font-family: "Manrope" !important;}
/* RUbik */  .f4{font-family: "Rubik" !important;}
.theme-text{color: var(--dark-green);}
.text-red{color: var(--light-red);}
.text-yellow{color: #F8E71C !important;}
.text-dark{color: var(--text-dark-secondary);}
.bg-black{background-color: #141414 !important;}
.bg-green-alpha{background-color: var(--grass-green-alpha);}
.bg-green{background-color: var(--dark-green); color: var(--light);}
.sec-p-lg{padding: 80px 40px;}
.sec-p-md{padding: 50px 40px;}

.lg-container{max-width: 1300px; margin: 0 auto;}
.md-container{max-width: 1000px; margin: 0 auto;}
.sm-container{max-width: 900px; margin: 0 auto;}
/* .landing-sec .lg-container{max-width: 1400px;} */
.half{max-width: 650px;}
/* Buttons */
.circle-btn{width: 40px; height: 40px; border: none; border-radius: 50%; box-shadow: 0px 4px 4px 0px #00000017; color: var(--dark-green); font-size: 20px;}
.btn-wrapper{width: fit-content; margin: 0 auto; margin-bottom: -40px;}
.theme-btn{
  text-decoration: none;
  cursor: pointer;
  font-family: "DM sans";
  font-weight: 700;
  font-size: 1rem;
  background-color: var(--yello);
  color: #141414;
  border-radius: 0;
}
.theme-btn:hover{color: var(--light); background-color: var(--orange);}
.btn-lg{padding: 20px 90px;}
.btn-lg.alter{padding: 20px 70px;}
.btn-md{padding: 20px 40px;}
.btn-md.alter{padding: 20px 50px;}
.btn-sm{padding: 20px 30px;}
.btn-sm.alter{width: 100%; padding: 15px;}
/* Timer */
.timer{display: flex; align-items: center; justify-content: center; gap: 1rem; flex-wrap: wrap;}
.time-box{background-color: var(--dark-green); color: var(--light); min-width: 80px; height: 80px; border-radius: 4px; display: flex; align-items: center; justify-content: center; flex-direction: column;}
.time-box .number{font-size: 34px; font-weight: 600; line-height: normal;}
.time-box .time-text{font-size: 13px; font-weight: 400;}

.slider{margin-top: 40px; position: relative;}
.slide{padding: 35px 25px; background-color: var(--light); border-radius: 15px;}
.user-info{line-height: normal; display: flex; gap: 10px; margin-top: 25px; margin-bottom: 20px;}
.user-info .avtar{width: 40px; height: 40px; border-radius: 50%; overflow: hidden;}
.ranks{color: var(--orange);}

.landing-sec{
  width: 100%;
  /* min-height: 100vh; */
  padding: 20px 40px;

}
.book-bg{width: fit-content; height: fit-content;}
.book-bg svg { max-width: 600px;} 
.books-content{position: relative; margin-top: -500px;}
.mobile .mobile-body{max-width: 300px; height: auto; max-height: 500px;}
.mobile{position: absolute; width: fit-content; height: fit-content; left: 15vw;}
.mobile-screen{width: 91%; height: 80% !important; bottom: 47px; left: 13px;}

.mobile:nth-child(2){transform: rotateZ(-10deg); transform-origin: bottom left;}
.mobile:nth-child(1){transform: rotateZ(-20deg); transform-origin: bottom left;}
.best-seller-stemp{position: absolute; z-index: 999; top: -5%; right: -10%; width: 100px;}
.brand-logo{ width: max-content; margin: 0 auto;}
.circle-modal{position: absolute; bottom: 10%; left: -50%; padding: 15px; background-color: #FFFFFF1F; border-radius: 100px; backdrop-filter: blur(5px); border: 2px solid #FFFFFF1F;}
.circle-modal .circle-img{width: 30px; height: 30px; border-radius: 50%; overflow: hidden; border: 1px solid var(--light);}
.circle-modal .circle-img:nth-child(1){margin-right: -10px;}
.circle-modal .circle-img:nth-child(2){margin-right: -10px;}
/* Company logo slider */
.c-logo{height: 60px;}
.c-logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(.8);
  /* opacity: .5; */
}
.logo-container{padding: 2rem 0; margin-top: 4rem; border-top: 1px solid #FFFFFF1F;} 
/* Slider */
.slick-prev, .slick-next {
  font-size: 18px;
  cursor: pointer;
  height: unset;
  z-index: 99;
}
.slick-arrow svg{fill: var(--dark-green);}
.slick-next:before{display: none;}
.slick-prev:before{display: none;}
.slick-next {right: 4px;}
.slick-prev {left: -20px;}
.slick-arrow.slick-disabled svg{fill: var(--dark-green); opacity: 30%;}

/* Gain Control sec */
.banner-lg{width: 100%; height: 43.154vw; max-height: 560px; overflow: hidden; border-radius: 10px 10px 0px 0px;}
.gain-sec .content{padding: 35px 30px; color: var(--light);}
.bg-selector:nth-child(1) .content{background: #718E7F; border-radius: 0px 0px 0px 10px;}
.bg-selector:nth-child(2) .content{background: #719A86;}
.bg-selector:nth-child(3) .content{background: #618674;}
.bg-selector:nth-child(4) .content{background: #4E705F; border-radius: 0px 0px 10px 0px;}

.bg-green-random{background-color: red;}



/* Purchase now sec */
.banner-bg{
  background: linear-gradient(205.49deg, #1C1C1C -1.85%, #3B3B3B 99.58%);
  color: var(--light);
}
.banner-bg.bg-alter{background: linear-gradient(205.49deg, #4E705F -1.85%, #22382D 99.58%);}
.banner-md{padding: 35px 50px;}
.banner-md.alter{color: var(--light); padding: 10px 25px;}
.theme-checklist{list-style: none;}
.theme-checklist li svg{margin-right: 10px; display: inline-block;}
.theme-checklist li + li {margin-top: 15px; display: flex;}
.banner-content{height: 100%; text-align: center; display: flex; flex-direction: column; align-items: center; justify-content: space-between;}
.banner-content .head-conent{margin-top: auto; margin-bottom: auto;}
.banner-content .head-conent .text-underline{text-decoration: underline;}
.banner-md.banner-content .text-xs.alter.f1{color: #F4F4F4; bottom: 15px; right: 20px;}
.banner-md.alter.banner-content .text-xs.alter.f1{font-size: 8px; color: #F4F4F4; bottom: 6px; right: 6px;}


/* Video slider sec */
.imgFix{width: 100%; height: 100%; object-fit: cover;}
.video-slide{padding: 10px;}
.video-wrapper{border-radius: 5px; overflow: hidden; height: 41vw; max-height: 220px;} 
.control {top: 0; left: 0; width: 100%; height: 100%; display: flex; align-items: end;}
.control .playbtn{ background: rgba(78, 112, 95, 0.7); border: none;  width: 70px; height: 70px; border-radius: 0 5px 0 5px; color: var(--light);}


/* Get The Book sec */
.logo{
  max-width: 144px;
  height: 59px;
}


/* Banner img sections */
.banner-wrapper{width: fit-content; margin: 0 auto;}
.banner-box{position: relative; width: fit-content; height: fit-content;}
.banner-box:nth-child(1){z-index: 2;}
.banner-box:nth-child(2){z-index: 1; margin-left: 150px; margin-top: -200px; } 
.banner{ max-width: 360px; height: 55.714vw; max-height: 390px; border: 6px solid var(--light); border-radius: 20px; object-fit: cover; object-position: top;}
.banner-shadow::before{
  content: "";
  position: absolute;
  width: 110%;
  height: 90%;
  top: 25%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: -1;
  background-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 20px;
}
.tag-bar{top: 92%; left: 5%; position: absolute; padding: 10px 20px; z-index: 999; background-color: var(--light); border-radius: 100px;}

.dot{width: 14px; height: 14px; border-radius: 20px; background-color: #CECECE;}
.dot::after{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  height:50px;
  border: 1px dashed rgb(170, 170, 170);
  z-index: -1;
}

.dot::before{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  height:50px;
  border: 1px dashed rgb(170, 170, 170);
  z-index: -1;
}
.box-list{position: relative; margin-bottom: 60px; list-style: none; display: flex; align-items: center; padding: 15px 10px; border-radius: 10px; gap: 5px;  color: var(--light);}
.box-list i{color: var(--grass-green); font-size: 24px; color: var(--light);}
.box-list::before{
  position: absolute;
  content: "";
  height: 60px;
  border: 1px dashed #CECECE;
  z-index: -1;
  top: 100%;
  left: 50%;
}

.box-list::after{
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  border-radius: 20px;
  background-color: #CECECE;
  z-index: -1;
  bottom: -45px;
  left: 50.2%;
  transform: translate(-50% , -50%);
}
.box-list:last-child::after , .box-list:last-child::before{display: none;}
.box-list p{line-height: normal;}

.content.count{border: 1px solid #585858; padding: 20px; border-radius: 10px; transition: all ease-in-out .2s; cursor: pointer; text-align: center;}
.content.count:hover{background-color: var(--light); border-color: var(--light);
  .head-lg.fw-bold{color: var(--dark-green);}
}
.rounded-box{background-color: var(--light); border-radius: 10px; margin-bottom: -120px;}
.rounded-box .banner-md{height: 250px;}

/* Accordion */
#accordion h3 {
  position: relative;
  padding-right: 20px; /* Add space for the icon */
  cursor: pointer;
  background-color: var(--light);
  color: var(--text-dark-secondary);
}

#accordion .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url('icon-right-arrow.png') no-repeat center center;
  background-size: contain;
  transition: transform 0.3s ease;
  color: var(--dark-green);

}


.ui-accordion .ui-accordion-header{
font-family: "Outfit";
font-size: 20px;
text-align: left;
background-color: var(--light);
border: none;
border-radius: 10px;
margin-top: 10px;
padding-left: 20px;
}
#accordion .ui-accordion-header-active{border-radius:10px 10px 0 0;}
#accordion .ui-accordion-header-active .icon {
  transform: translateY(-50%) rotate(180deg);
  right: 24px;
}

.ui-accordion .ui-accordion-content{
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  font-family: "DM Sans";
  background-color: var(--light);
  padding: 20px;
  padding-top: 0;
  border: none;
  border-radius: 0 0 10px 10px;
}

/* Responsive */
@media all and (max-width:1300px) {
  .banner { max-width: 295px; max-height: 342px;}

}
@media all and (max-width:1200px) {
  .banner-wrapper{margin-left: -6vw;}
}

@media all and (max-width:991px) {
  .sec-p-lg{padding: 60px 40px;}
  .wrapper{text-align: center;}
  .banner-wrapper {margin-left: auto;}
  .bg-selector:nth-child(1) .content {border-radius: 0;}
  .bg-selector:nth-child(3) .content {border-radius: 0 0 0 10px;}
  .btn-lg { padding: 16px 50px;}
  .btn-lg.alter { padding: 16px 40px; }
  .btn-sm {padding: 16px 30px;}
  .btn-md.alter { padding: 12px 25px;}
  .rounded-box{margin-bottom: unset;}
}
@media all and (max-width:767px) {
  .sec-p-lg{padding: 50px 30px;}
  .sec-p-md{padding: 40px 20px;}
  .head-lg{font-size: 2.5rem;}
  .mt-5{margin-top: 2rem !important;}
  .bg-selector:nth-child(4) .content {border-radius: 0 0 10px 0;}
  .slick-next { right: 12px;}
  .slick-prev { left: -10px;}
  .ebook{text-align: center;}
  .ebook .logo{margin: 0 auto;}
  .banner-md.alter{padding: 30px;}
  .banner-md.alter .text-exs {font-size: 18px;}
  .banner-md.alter .text-xs.alter {font-size: 22px;}
  .banner-md.alter.banner-content .text-xs.alter.f1 {font-size: 14px;}
  .banner-icon.alter svg{width: 20px; height: 16px;}
  .video-wrapper {max-height: 300px; height: 66vw;}
  .gain-sec .content{padding: 25px 20px;}
}

@media all and (max-width:576px) {
  .sec-p-lg{padding: 40px 20px;}
  .sec-p-md{padding: 30px 15px;}
  .bg-selector:nth-child(3) .content {border-radius: 0;}
  .bg-selector:nth-child(4) .content {border-radius: 0 0 10px 10px;}
  .slick-next svg { width: 30px;}
  .slick-prev svg { width: 30px;}
  .slick-next { right: 12px;}
  .slick-prev { left: -2px;}
  .ebook{text-align: center;}
  .ebook .logo{margin: 0 auto;}
  .gain-sec .content{padding: 15px 10px;}
  .banner { max-width: 174px;  max-height: 200px;}
  .banner-box:nth-child(2) { margin-left: 117px; margin-top: -123px;}
  .text-lg{font-size: .8rem;} 
  .tag-bar{padding: 5px 10px; top: 87%;}
  .tag-bar svg{width: 20px; height: 28px;}
  .head-lg{font-size: 1.5rem;}
  .text-md{font-size: 1rem;}
  .head-md.alter{font-size: 20px;} 
  .mb-5{margin-bottom: 1.5rem !important;}
  .my-5 {margin-top: 1.5rem !important; margin-bottom: 1.5rem !important;}
  .mt-5{margin-top: 1.5rem !important;}
  .theme-btn {font-size: .8rem;}
  .btn-md {padding: 14px 40px;}
  .banner-md.alter{padding: 15px;}
  .banner-md.alter .text-exs {font-size: 14px;}
  .banner-md.alter .text-xs.alter {font-size: 14px;}
  .banner-md.alter.banner-content .text-xs.alter.f1 {font-size: 10px;}
  .rounded-box .px-4{padding: 0 !important;}
}

@media all and (max-width:480px) {
  .banner { max-width: 156px; max-height: 200px;}
  .banner-md {
    padding: 35px 50px;
    max-width: 250px;
    height: 100vw !important;
    max-height: 330px;
    margin: 0 auto;
}

}