/* Open sans font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* DM San Font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --light : #fff;
  --darkblue: #0E4287;
  --lightgreen: #1DBDA3;
  --alter-l-green: #0E8773;
  --text-dark: #1D1D1D;
  --alter-dark : #646F79;

}
html , body{height: 100%;  font-family: Raleway !important; line-height: 1.5 ; font-optical-sizing: auto;  font-weight: normal; font-style: normal;}
p,h1,h2,h3,h4,h5,h6{margin-bottom: 0;}
a{text-decoration: none;}

.lg-container{max-width: 1300px; margin: 0 auto; padding: 0 10px;}
.md-container{width: 100%; max-width: 1000px; margin: 0 auto; padding: 0 10px;}
.sm-container{width: 100%; max-width: 700px; margin: 0 auto; padding: 0 10px;}
.container-full{max-width: 100%;}

.sec-py-lg{padding: 80px 0;}
.sec-py-md{padding: 60px 0;}

.bg-blue{background-color: var(--darkblue);}

/* buttons */
.theme-btn{ text-decoration: none; font-size: 18px; border-radius: 0; padding: 15px 40px; font-weight: 500;}
.btn-blue{background-color: var(--darkblue); color: var(--light);}
.btn-light{background-color: var(--light); color: var(--darkblue);}
.btn-green{background-color: var(--lightgreen); color: var(--light);}
.btn-green.alter{background-color: var(--alter-l-green); color: var(--light);}

/* Btn hover */

.btn-blue:hover{background-color: #154e99 !important; color: lightblue;}
.btn-green:hover{background-color: #1a917d !important; color: lightcyan; }

.text-green{color: var(--lightgreen) !important;}
.text-blue{color: var(--darkblue);}
.text-dark{color: var(--text-dark);}

.bg-blue-alpha{background-color: hsla(214, 81%, 29%, 0.055);}
.bg-border-green{background-image: url('./bg-dash-green.png');}
.bg-abstract-blue{background-image: url('./bg-abstract-blue.png');}
/* typography */
.head-lg{font-size: 56px; color: var(--text-dark);}
.head-md{font-size: 40px; color: var(--text-dark);}
.head-sm{font-size: 20px;}
.head-md.alter{font-size: 25px;}
.text-sm.dark{color: var(--text-dark);}
.text-md{font-size: 18px; color: var(--text-dark);}
.text-lg.f2{font-size: 22px; font-family: "Open Sans";}
.text-2xl{font-size: 80px; font-family: "DM Sans"; font-weight: 700; line-height: 70px;}
.text-md.alter{font-size: 18px; color: var(--alter-dark); font-family: "Open Sans";}
.text-sm.alter{color: var(--alter-dark); font-family: "Open Sans";}
.text-xs{font-size: 14px; font-weight: 400; color: var(--alter-dark); font-family: "Open Sans";}


.flex-wrapper{display: flex;}
.top-bar{padding:20px 0; display: flex; align-items: center; justify-content: space-between;}
.top-bar .flex-wrapper{align-items: center; justify-content: space-between;}

.img-wrapper{max-width: 630px; height: 630px;}
.imgFix{width: 100%; height: 100%; object-fit: cover;}

.circle-border{width: 60px; height: 60px; border: 1px solid var(--darkblue); border-radius: 50%;}
.circle-border.alter{width: 40px; height: 40px; border-color: var(--text-dark); background-color: transparent;}
.btn.circle-border:hover{background-color: var(--lightgreen); color: var(--light);}
.content p{width: 80%;}

.bg-shadow::before{
  content: "";
  top: -100px;
  right: 0;
  width: 45%;
  height: 110%;
  background-color: #f1f4f8;
  position: absolute;
  z-index: -1;
}
.dp{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--T2-border);
}


/* Experience section */

.squre_img{
  width: 100%;
  max-width: 560px;
  max-height: 520px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.squre::before{
  position: absolute;
  content: "";
  width: 100px;
  height: 100px;
  background-color: hsla(214, 73%, 43%, 0.089);
  z-index: -1;
  top: -40px;
  right: 30px;
  border-radius: 50%;
}

.squre-model{
  width: 100%;
  max-width: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.squre-sm{position: relative; display: flex; align-items: center; justify-content: center; height: 100%; width: 50%;}
.squre-sm::before{z-index: -1; content: ""; width: 100%; height: 100%; position: absolute; left: -40px;  background-color: var(--lightgreen); transform: skew(342deg);}
.squre-sm svg{margin-right: 30%;}

/* Company logo section */
.logo-container{width: 100%; max-width: 1400px;}
.logo{height: 70px;}
.logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(.8);
  filter: grayscale(100%);
  opacity: .5;
}

/* Pricing sections */
.wrapper{
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 40px 35px;
  position: relative;
  transition: all ease-in-out .2s;
}
.star{
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  border-radius: 0 5px 0 5px;
  background-color: var(--lightgreen);
  color: var(--light);
  font-size: 24px;
  opacity: 0;
}
.wrapper .theme-btn{margin-top: 20px;}
.wrapper .plan-list-wrapper P{margin-bottom: 15px;}
.wrapper:hover{
  background-color: var(--darkblue);
  color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.199);

  .btn-blue{background-color: var(--lightgreen);}
  .head-md.alter{color: var(--light);}
  .star{opacity: 1;}
}
.my-card{
  padding: 50px 25px;
  transition: all ease-in-out .3s;
  z-index: 2;
  position: relative;
}
.stick-hover:hover{
  color: var(--light) !important;
  background-color: var(--darkblue);
  .text-sm.alter{color: var(--light);}
}
.stick-hover{  overflow: hidden; background-color: var(--light); width: fit-content; height: fit-content; position: relative;}
.stick-hover::before{
  content: "";
  width: 50px;
  height: 90%;
  top: -20px;
  background: linear-gradient(90deg, rgba(255,255,255,0.07886904761904767) 47%, rgba(0,0,0,0.08) 100%);
  position: absolute;
  z-index: 0;
  transform: rotateZ(22deg);
}
.stick-hover::after{
  content: "";
  width: 50px;
  height: 90%;
  top: -154px;
  background: linear-gradient(90deg, rgba(255,255,255,0.07886904761904767) 47%, rgba(0,0,0,0.08) 100%);
  position: absolute;
  z-index: 0;
  transform: rotateZ(22deg);
}


/* lets begins sections */
.border-dashed{padding: 5px; padding-left: 15px; border-top: 1px dashed #0000004F;}
.head-md.fw-semibold{font-family: "DM Sans";}
.border-dashed:hover .head-sm.dark , .border-dashed:hover .head-md.fw-semibold{cursor: pointer; color: var(--darkblue);}